:root {
    --slate-900: #0f172a;
    --slate-700: #334155;
    --slate-500: #64748b;
    --slate-300: #cbd5e1;
    --slate-100: #f1f5f9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(var(--slate-900), var(--slate-700));
    color: var(--slate-100);
    display: flex;
    justify-content: center;

}

.container {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 0px 5px;
}

h1 {
    padding: 20px;
    color: var(--slate-100)
}

.btn {
    background-color: teal;
    color: whitesmoke;
    border: none;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
}

input[type='radio'] {
    appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid #555555;
    border-radius: 50%;
    background-clip: content-box;
    padding: 3px;

}

input[type='radio']:checked {
    background-color: teal;
}


form {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--slate-300);
    color: var(--slate-700);
}

form>input {
    width: 20%;
    align-self: center;

}

.form-group {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    gap: 20px;
    justify-content: center;
}


.rating input {
    width: 35px;
    margin-left: 5px;
}

.popup {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 20px 10px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 3;
}



/* .rating-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    padding: 20px 10px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: var(--slate-300);
    color: var(--slate-700);

}

.rating2 button {
    margin-left: 10px;
}

.rating2 input {
    width: 40px;
} */

table {
    width: 100%;
    margin-top: 50px;
    font-size: 1.2rem;
    text-align: left;
    border-collapse: collapse;
    border: none;
}

th {
    margin: 10px;
    background: var(--slate-700);
    color: var(--slate-100)
}

tr {
    height: 2.0rem;
    color: var(--slate-700)
}

td,
th {
    padding-left: 10px;
}

.legend {
    margin-top: 15px;
    align-self: flex-start;
}

.hide {
    display: none;
}

.success {
    color: green;
}

.fail {
    color: red;
}

.input-error {
    border: 1px solid red;
}

.input-valid {
    border: 1px solid green;
}

.read-status {
    text-align: center;
}

.delete {
    background-color: rgb(172, 79, 79);
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 2px;
    margin: 0px 5px;

}


.delete-column {
    text-align: center;
    width: 7%;
    padding-right: 10px;
}

.pages-col {
    text-align: right;
}

/* td a {
    display: flex;
    width: 30%;
    justify-content: center;
    
} */


tr {
    background-color: var(--slate-300);
}

tr:nth-child(even) {
    background-color: var(--slate-100);
    color: var(--slate-700)
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
}