:root {
    --slate-900: #0f172a;
    --slate-800: #1e293b;
    --slate-700: #334155;
    --slate-500: #64748b;
    --slate-300: #cbd5e1;
    --slate-100: #f1f5f9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(var(--slate-700), var(--slate-700));
    color: var(--slate-100);
    display: flex;
    justify-content: center;
    font-family: 'Gentium Plus', serif;
}

.container {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 0px 5px;

}

h1 {
    padding: 20px;
    color: var(--slate-300);
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.btn {
    background-color: #4D908E;
    color: var(--slate-100);
    border: none;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

input[type='radio'] {
    appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid #555555;
    border-radius: 50%;
    background-clip: content-box;
    padding: 3px;

}

input[type='radio']:checked {
    background-color: teal;
}


form {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--slate-300);
    color: var(--slate-700);
}

form>input {
    width: 20%;
    align-self: center;

}

.form-group {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    gap: 20px;
    justify-content: center;
}


.rating input {
    width: 35px;
    margin-left: 5px;
}

.success {
    color: green;
}

.fail {
    color: red;
}

.input-error {
    border: 1px solid red;
}

.input-valid {
    border: 1px solid green;
}

.popup {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 20px 10px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 3;
}

table {
    width: 100%;
    margin-top: 50px;
    font-size: 1.2rem;
    text-align: left;
    border-collapse: collapse;
    border: none;
}

th {
    margin: 10px;
    background: var(--slate-900);
    color: var(--slate-300);
    vertical-align: bottom;

}

tr {
    height: 2.5rem;
    background-color: var(--slate-900);
    color: var(--slate-300)
}

td,
th {
    padding-left: 10px;
}

.delete {
    background-color: #b62c2e;
    color: var(--slate-100);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 2px;
    vertical-align: middle;
    margin: 3px 0;
}

.date-col-heading {
    width: 15%;
}

.status-col-heading {
    text-align: center;
}

.title-col {
    width: 20%;
}

.author-col {
    width: 15%
}

.pages-col {
    text-align: right;
    width: 10%;
}

.read-status {
    text-align: center;
    cursor: pointer;
    width: 10%;
    color: #43AA8B;
}

.date-col {
    cursor: pointer;
    width: 25%;
}

.rating-col {
    cursor: pointer;
    width: 15%;
    color: #F9C74F;

}

.delete-column {
    text-align: center;
    width: 5%;
    padding-right: 10px;
}

.rating-input-box {
    width: 30px;
}

.date-input-box {
    width: 140px;
}

.legend {
    margin-top: 15px;
    align-self: flex-start;
}

.hide {
    display: none;
}


@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 1300px) {
    tr {
        font-size: 1rem;
    }
}